{% extends 'base.html.twig' %}

{% block body %}
    <div class="container" id="down">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <h1  class="post-title">Authentification</h1>
                {{ form_start(form) }}
                <div class="input-group form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                    </div>
                    {{ form_widget(form.email, { 'attr': { 'class': 'form-control' } }) }}
                </div>
                <div class="input-group form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-key"></i></span>
                    </div>
                    {{ form_widget(form.password, { 'attr': { 'class': 'form-control' } }) }}
                </div>
                {% if message is defined %}
                    {{ message }}
                {% endif %}
                <div class="post-preview">
                    <input  type="checkbox"> Se souvenir de moi
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-outline-success">
                        <span class="btn-label"><i class="fas fa-sign-in-alt"></i></span> Se connecter</button>
                </div>
                {{ form_end(form) }}

                <p class="post-meta" ><a  href="{{ path('app_forgotten_password') }}">mot de passe oublié ?</a></p>

                {% for message in app.flashes('notice') %}
                    <div class="flash-notice">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
