{% extends 'base.html.twig' %}

{% block title %}Comment{% endblock %}

{% block body %}
<div class="container" id="down">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
    <h1>Commentaires</h1>

    <table class="table table-bordered" >
        <thead class="thead-dark">
        <tbody>
            <tr>
                <th scope="col">Id</th>
                <td>{{ comment.id }}</td>
            </tr>
            <tr>
                <th scope="col">Message</th>
                <td>{{ comment.message }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-outline-primary" href="{{ path('comment_index') }}">retour à la liste
                <span class="btn-label"><i class="fas fa-arrow-left"></i></span>
        retour à la liste</a>

    <a href="{{ path('comment_edit', {'id': comment.id}) }}">edit</a>

    {{ include('comment/_delete_form.html.twig') }}

        </div>
    </div>
</div>
{% endblock %}
