
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand" href="{{ path('home') }}">Post It</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="{{ path('home') }}">Home </a>


                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="{{ path('content_index') }}"> Publications </a>
                </li>

                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                    > Mon Espace </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item"  href="{{ path('user_submissions', {'id': app.user.id}) }}">Mes soumissions</a>

                        {% if app.user.roles.0 in ['ROLE_ADMIN', 'ROLE_COMM', 'ROLE_REVIEWER'] %}
                            <a class="dropdown-item" href="{{ path('user_reviews', {'id': app.user.id}) }}">Mes Reviews</a>
                        {% endif %}
                        {% if app.user.roles.0 in ['ROLE_ADMIN', 'ROLE_COMM'] %}
                            <a class="dropdown-item" href="{{ path('user_publications', {'id': app.user.id}) }}">Mes Publications</a>
                        {% endif %}


                    </div>
                </li>
                {%endif%}

                </li>

                {% if app.user.roles.0 in ['ROLE_ADMIN', 'ROLE_COMM'] %}
                    <li class="nav-item">
                        <a href="{{ path('dashboard_index') }}">Communication Dashboard</a>
                    </li>
                {% endif %}


                 <li class="nav-item">
                    <a {% if is_granted('IS_AUTHENTICATED_FULLY') %}hidden{%endif%} href="{{ path('login') }}"> Se connecter </a>
                </li>
                <li class="nav-item dropdown">
                    <a  {% if not is_granted('ROLE_ADMIN') %}hidden{%endif%} class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                            > Administration </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item"  href="{{ path('dashboard_index') }}">Dashbord</a>
                        <a class="dropdown-item"  href="{{ path('social_network_index') }}">Socials</a>
                        <a class="dropdown-item" {% if not is_granted('ROLE_ADMIN') %}hidden{%endif%} href="{{ path('user_index') }}"> Rôles </a>

                    </div>
                </li>

                <li class="nav-item">
                    <a  {% if not is_granted('IS_AUTHENTICATED_FULLY') %}hidden{%endif%} href="{{ path('logout') }}"> Se déconnecter </a>
                </li>

                <!--
                <li class="nav-item">
                   <a> Register </a>
               </li>
              <li class="nav-item">
                   <a> My meetings </a>
               </li>
                <li class="nav-item">
                   <a> My Profile </a>
               </li>
               <li class="buy-tickets">
                   <a> Logout </a>
               </li>-->
            </ul>
        </div>
    </div>
</nav>


<header class="masthead" style="background-image: url('/img/publication.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>Bienvenue sur Post It :</h1>
                    <span class="subheading"> une platforme de publication </span>
                    <hr>
                    <a class="nav-link js-scroll-trigger" href="#down" >

                                <svg id="more-arrows">
                                    <polygon class="arrow-top" points="37.6,27.9 1.8,1.3 3.3,0 37.6,25.3 71.9,0 73.7,1.3 "/>
                                    <polygon class="arrow-middle" points="37.6,45.8 0.8,18.7 4.4,16.4 37.6,41.2 71.2,16.4 74.5,18.7 "/>
                                    <polygon class="arrow-bottom" points="37.6,64 0,36.1 5.1,32.8 37.6,56.8 70.4,32.8 75.5,36.1 "/>
                                </svg>

                    </a>

                </div>
            </div>
        </div>
    </div>





</header>