{% extends 'base.html.twig' %}

{% block title %}Content index{% endblock %}

{% block body %}

<div class="container" id="down">
    <div class="row">
        <div class="col-lg-12 col-md-10 mx-auto">
            <h1 class="post-title">Content index</h1>
            <table class="table content_index" style="font-size: 17px">
                <thead class="thead-dark">

            <tr>

                 <th scope="col">Title</th>
                 <th scope="col">Description</th>
                 <th scope="col">File</th>
                 <th scope="col">SubmitDate</th>
                 <th scope="col">SubmitBy</th>
                 <th scope="col">ApprovalDate</th>
                 <th scope="col">PublicationDate</th>
                 <th scope="col">actions</th>
            </tr>
        </thead>
        <tbody>
        {% for content in contents %}
            <tr>

                <td>{{ content.title }}</td>
                <td>{{ content.description|raw }}</td>
                {% if 'https://' in content.file %}
                    <td><a target="_blank" href="{{ content.file }}"> <i class="fas fa-file"></i> </a></td>
                {% else %}
                    <td><a target="_blank" {% if content.file is not empty %} href="{{ asset('uploads/files/' ~ content.file) }}" {% endif %}> <i {% if content.file is empty %} style="opacity: 25%; touch-action: none;" {% endif %}class="fas fa-file"></i> </a></td>
                {% endif %}
                <td>{{ content.submitDate ? content.submitDate|date('Y-m-d H:i') : '' }}</td>
                <td>
                    {% if content.userSubmit %}
                        {{ content.userSubmit.firstname }}
                    {% else %}
                        None
                    {% endif %}
                </td>
                <td>{{ content.approvalDate ? content.approvalDate|date('Y-m-d H:i') : '' }}</td>
                <td>{{ content.publicationDate ? content.publicationDate|date('Y-m-d H:i') : '' }}</td>
                <td>
                    <a href="{{ path('content_show', {'id': content.id}) }}"> <i class="fas fa-eye"></i></a>
                    <a href="{{ path('content_edit', {'id': content.id}) }}"> <i class="fas fa-edit"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

            <button type="submit" class="btn btn-outline-dark">
    <a href="{{ path('content_new') }}" ><span class="btn-label"><i class="fas fa-plus" ></i></span>
        New</a></button>

        </div>
    </div>
</div>
{% endblock %}
