{% extends 'base.html.twig' %}

{% block title %}Approval index{% endblock %}

{% block body %}
    <h1>Approbations</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Statut</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for approval in approvals %}
            <tr>
                <td>{{ approval.id }}</td>
                <td>{{ approval.status }}</td>
                <td>
                    <a href="{{ path('approval_show', {'id': approval.id}) }}">voir</a>
                    <a href="{{ path('approval_edit', {'id': approval.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">aucun resultat</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('approval_new') }}">Nouveau</a>
{% endblock %}
