{% extends 'base.html.twig' %}

{% block title %}SocialNetwork index{% endblock %}

{% block body %}
<div class="container" id="down">
    <div class="row">
        <div class="col-lg-12 col-md-10 mx-auto">
    <h1 class="post-title">SocialNetwork index</h1>

            <table class="table table-bordered" >
                <thead class="thead-dark">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">ClientId</th>
                <th scope="col">ClientSecret</th>
                <th scope="col">Token</th>
                <th scope="col">Token Secret</th>


                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for social_network in social_networks %}
            <tr>
                <td>{{ social_network.id }}</td>
                <td>{{ social_network.name }}</td>
                <td>{{ social_network.clientId }}</td>
                <td>{{ social_network.clientSecret }}</td>
                <td>{{ social_network.token }}</td>
                <td>{{ social_network.tokenSecret }}</td>

                <td>
                    <a href="{{ path('social_network_show', {'id': social_network.id}) }}"><i class="fas fa-eye"></i></a>
                    <a href="{{ path('social_network_edit', {'id': social_network.id}) }}"><i class="fas fa-edit"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

            <button type="submit" class="btn btn-outline-dark">
                <a href="{{ path('social_network_new') }}" ><span class="btn-label"><i class="fas fa-plus" ></i></span>
                    New</a></button>

        </div>
    </div>
</div>
{% endblock %}
