{% extends 'base.html.twig' %}

{% block body %}
    <h2>Derniers contenus acceptés</h2>
    {% for content in contents %}
        <ul>
            <li><a href="{{ path('content_show', {'id': content.id}) }}">{{ content.title }}</a></li>
        </ul>
    {% endfor %}

    <h2>Statistiques</h2>
    <p>Nombre total de contenus (revues/publiées):  <strong>{{ contentStats.nbContents }} (<span style="color: forestgreen">{{ contentStats.nbReviewedContents }}</span>/<span style="color: darkred">{{ contentStats.nbPublishedContents }}</span>)</strong></p>
    <p>Nombre total de review (accéptées/refusées):  <strong>{{ approvalStats.nbApprovals }} (<span style="color: forestgreen">{{ approvalStats.nbAcceptedApprovals }}</span>/<span style="color: darkred">{{ approvalStats.nbRejectedApprovals }}</span>)</strong></p>
{% endblock %}
